{% extends 'pokemon/base.html' %}
{% load bootstrap5 %}

{% block content %}

<h3>Please fill in the required information</h3>


<form method="post" action="{% url 'users:register' %}">
  {% csrf_token %}
  <div class="input-group mb-3">
  <input type="text" name="username" autocapitalize="none" class="form-control"
         maxlength="150" required="" id="id_username" placeholder="Username">
  <span style="margin:5px;">Letters, digits and @/./+/-/_ only.</span>
  </div>
  <div class="input-group mb-3">
    <input type="password" id="id_password" name="password1" class="form-control" data-toggle="password1" placeholder="Password">
    <span class="input-group-text">
      <i class="eye" id="togglePassword" style="cursor: pointer;">&#128065</i>
    </span>
  <span style="margin:5px;">at least 8 characters; can’t be entirely numeric</span>
  </div>
  <div class="input-group mb-3">
    <input type="password" id="id_password2" name="password2" class="form-control" data-toggle="password2" placeholder="Confirm Password">
    <span class="input-group-text">
    <i class="eye" id="togglePass" style="cursor: pointer;">&#128065</i>
    </span>
  </div>
  <div style="margin-top:15px">
  <input type="submit" value="Submit">
  </div>


{% for k, v in form.errors.items %}
  <div style="color:red;">
      <p>{{v}} </p>
  </div>
{% endfor %}
</form>

<script>
  const togglePasswords = document.querySelectorAll('.eye');
  const passwords = document.querySelectorAll('input[type=password]');

  togglePasswords.forEach((item, i) => {
        item.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = passwords[i].getAttribute('type') === 'password' ? 'text' : 'password';
        passwords[i].setAttribute('type', type);
        // toggle the eye slash icon
        item.classList.toggle('eye-slash');
        })
    }
  );
</script>

{% endblock content %}
